
.page-home {
    width: 100%;
    height: 150vh;
  
    background-image: url(../images/hall-john-photo-02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    overflow-x: hidden;
  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.page-about {
    overflow-x: hidden;
}

/* Navbar */
.navbar {
    background-color: rgba(0,0,0,.7);
    font-family: 'Arvo', courier, serif;
    height: auto;
    width: 100%;
  }
  
.navbar-dark {
    background-color: rgba(0,0,0,.9);
    font-family: 'Arvo', courier, serif;
    height: auto;
    width: 100%;
 }

  .navbar-brand {
    margin: 0;
    padding: 0;
  }
  
  .navbar-brand img {
    height: 5vh;
    transition: all .5s ease;
  }
  
  .navbar-brand img:hover {
    filter: brightness(50%);
  }
  
  .navbar a {
    font-size: 24px;
    color: white;
    padding-top: 2vh;
    line-height: auto;
    transition: all .5s ease;
    text-decoration: none;
  }
  
  .navbar a:hover {
    color: #70726F;
    text-decoration: none;
  }

  .navbar-right {
      nav-left: -50vh;
      padding-right: 1%;
  }

/* Title jumbotron */
.jumbotron {
    background: transparent;
    color: white;
    font-size: 32px;
    font-family: 'Arvo', courier, serif;
    text-shadow: 0px 0px 2px black;
    padding: 0%;
  }

.jumbotron a {
    color: white;
}
  
  .jumbotron button {
    background: rgba(255,255,255,.3);
    border: 5px double white;
    font-style: italic;
    font-weight: bold;
    transition: all .5s ease;
    text-shadow: 0px 0px 1px black;
    margin-bottom: 1vh;
  }
  
  .jumbotron button:hover {
    color: #4d4d4d;
    border-color: #4d4d4d;
    background: rgba(255,255,255,.5);
  }

  .jumbotron .dark-button {
    border: 5px double black;
    color: black;
  }

.about-me {
    background-color: rgba(0,0,0,.7);
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.about-me h1 {
    color: white;
    font-family: 'Arvo', courier, serif;
    font-weight: bold;
}

.about-me p {
    color: darkgray;
    text-align: justify;
}

.about-me img {
    height: auto;
    width: 100%;
    max-width: 30vh;
    vertical-align: middle;
}

.about-this-site {
    background-color: ghostwhite;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.about-this-site h1 {
    color: black;
    font-family: 'Arvo', courier, serif;
    font-weight: bold;
}

.about-this-site img {
    height: auto;
    width: 100%;
    max-width: 30vh;
    margin: 0;
    
    top: 50%;
}

.about-this-site p {
    text-align: justify;
}

.image-center-align {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

/* Contact Me */
.title {
    background: transparent;
    color: black;
    font-size: 24px;
    font-family: 'Arvo', courier, serif;
    text-shadow: 0px 0px 0px black;
    padding: 0%;
}

.title h1 {
    font-size: 36px;
}

.title h3 {
    font-size: 24px;
}

.main-resume {
    font-family: 'Arvo', courier, serif;
}

.main-resume h1 {
    font-weight: bold;
}

.main-resume img {
    height: 30vh;
    width: auto;
}

.thesis img {
    height: 95vh;
    width: auto;
}

/* Footer */
.footer {
    position: absolute;
    background-color: rgba(0,0,0,1);
    padding: 0px;
  }
  
  .footer a {
    color: #70726F;
    font-size: 40px;
    padding: 0px 10px 0px 10px;
    border-right: 3px solid #70726F;
    transition: all .5s ease;
  }
  
  .footer a:first-child {
    border-left: 3px solid #70726F;
  }
  
  .footer a:hover {
    color: white;
  }

  .footer-legal {
    background-color: rgba(0,0,0,1);
    font-size: 16px;
    color: white;
    
  }